<!DOCTYPE html>
	<html>
	<head>
	  <meta charset="utf-8">
	  <title>Transloadit</title>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="http://assets.transloadit.com/js/jquery.transloadit2.js"></script>

	</head>
	<body>

	
	  <%- body %>
	</body>
	</html>